<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651847597310-pq5dr8nl4mtlggc9643tig05i4f1prkm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651847597310-pq5dr8nl4mtlggc9643tig05i4f1prkm</string>
	<key>API_KEY</key>
	<string>AIzaSyBbjNfwt5fToYSEP5Zhyir0RNUEPjfvpUY</string>
	<key>GCM_SENDER_ID</key>
	<string>651847597310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.max.eckstein.Neodym</string>
	<key>PROJECT_ID</key>
	<string>neo-datenbank</string>
	<key>STORAGE_BUCKET</key>
	<string>neo-datenbank.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651847597310:ios:67104bc5c4fe96b8dbb9af</string>
</dict>
</plist>